mixin createInput(type, placeholder)
  div
    input(class="input" type=type, placeholder=placeholder)
    div(class="input__arrow-forward")
      span(class="material-icons arrow-forward") arrow_forward