div(class="block-input")
  include ../block-description/block-description.pug
  +createBlockDescription("Text Field", "Default")
  div(class="block-input__input")
    include ../input/input.pug
    +createInput(email, "Email")
div(class="block-input")
  +createBlockDescription("Text Field", "Hover / Focus")
  div(class="block-input__input block-input__input_active")
    include ../input/input.pug
    +createInput(text, "")
div(class="block-dropdown")
  include ../dropdown/dropdown.pug
  +createDropdown(["взрослые", "дети", "младенцы"], "dropdown","Сколько гостей", true)

div(class="block-input")
  +createBlockDescription("masked text field", "", false, true)
  input(class="input block-input__input-date" type="text" placeholder="ДД.ММ.ГГГГ")

div(class="block-input__date-pickers")
  div(class="block-input__date-picker")
    +createBlockDescription("date dropdown", "")
    include ../date-picker/date-picker.pug
    +createDataPicker(false, false)
  div(class="block-input__date-picker")
    +createBlockDescription("date dropdown", "")
    include ../date-picker/date-picker.pug
    +createDataPicker(false, false, new Date(2019, 7, 19))

div(class="block-input__date-pickers-range")
  +createBlockDescription("date dropdown", "")
  include ../date-picker/date-picker.pug
  +createDataPicker(true, false, new Date(2019, 7, 19), new Date(2019, 7, 23))