@import '@style/main.scss';
@import '@components/block-description/block-description.scss';
@import '@components/dropdown/dropdown.scss';
@import '@components/date-picker/date-picker.scss';


.block-input,
.block-input__date-pickers {
  max-width: 320px;
  margin-bottom: 20px;
}

.block-dropdown {
  max-width: 320px;
  margin-bottom: 20px;
}

.block-input__date-picker {
  width: 150px;
}

.block-input__date-pickers {
  display: flex;
  justify-content: space-between;
}

.block-input__date-pickers-range {
  max-width: 267px;
}