block variables

doctype html
html(lang="ru-RU")
  head
    meta(name="viewport" content="width=device-width")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title
      block title
  body(class=(body__background ? "body__background" : undefined))
    div(class="container")
      block content