nav(class="navbar")
  a(class="navbar__item navbar__item_active" href="#") О нас
  select(name="select-services", class="select-services navbar__item")
    option(value="services") Услуги
  a(class="navbar__item" href="#") Вакансии
  a(class="navbar__item" href="#") Новости
  select(name="select-agreements", class="select-agreements navbar__item")
    option(value="agreements") Соглашения