@import '../scss/fontawesome.scss';
@import '../scss/solid.scss';
@import '../scss/brands.scss';

@font-face {
  font-family: quicksand-bold;
  src: url(@files/fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: quicksand-regular;
  src: url(@files/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(@files/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: montserrat-regular;
  src: url(@files/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: open-sans-bold;
  src: url(@files/fonts/Open-Sans-Bold.ttf);
}

//variables
$background-color: #E5E5E5;
$color-text: #1F2041;
$color-pink: #BC9CFF;
$color-blue: #8BA4F9;
$white-color: #FFFFFF;

%h1 {
  font-family: quicksand-bold;
  font-size: 24px;
  color: $color-text;
}

%h2 {
  font-family: quicksand-bold;
  font-size: 19px;
  color: $color-text;
}

%h2-cyrillic {
  font-family: open-sans-bold;
  font-size: 19px;
  color: $color-text;
}

%h3 {
  font-family: montserrat-bold;
  font-size: 12px;
  color: $color-text;
}

%body {
  font-family: montserrat-regular;
  font-size: 14px;
  color: $color-text;
}

%shadow {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

%link{
  cursor: pointer;
  text-decoration: none;
  color: $color-text;
}